<h1>Edit <%= @vegetable.name %></h1>

<form action="/vegetables/<%=@vegetable.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
    <div>
    <label> Vegetable Name </label>
    <input type="text" name="name" value="<%=@vegetable.name %>">
    </div>
    <div>
      <label> Quantity </label>
      <input type="text" name="quantity" value="<%=@vegetable.quantity%>">
    </div>
    <div>
      <label> Garden </label>
      <select name="garden_id">
      <% current_user.gardens.each do |garden| %>
      <option value=<%=garden.id %> <%= "selected" if garden.id==@vegetable.garden_id %> ><%= garden.name %></option>
    <% end %>
  </select>

  <input type="submit" value="Update">
</form>
