
<div>
<%= @vegetable.name%>
</div>
<div>
<%= @vegetable.quantity%>
</div>

In garden:<a href="/gardens/<%=@vegetable.garden.id%>"><%= @vegetable.garden.name %></a>
  <% current_user.gardens.each do |garden| %>
    <% if @vegetable.garden_id == garden.id%>
      <a href="/vegetables/<%=@vegetable.id%>/edit">Edit</a>
    <%end%>
  <%end%>
  <br />
  <br />
