

  <h3>Garden Name: <%=@garden.name.titleize%></h3>
  <h3>Planting System: <%=@garden.planting_system.titleize%></h3>
  <h3>Farmer: <%=@garden.farmer.username.titleize%></h3>

  <% if @garden.vegetables.empty? %>
    <h3> <%=@garden.name.titleize%> does not have any vegetables at the moment.</h3>
  <%else %>

    <h3>Vegetables</h3>
    <table>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Link</th>
      </tr>
      <%@garden.vegetables.each do |vegetable|%>
      <tr>
        <td><%=vegetable.name%></td>
        <td><%=vegetable.quantity%></td>
        <td><a href= "/vegetables/<%=vegetable.id%>">View</a></td>
      <%end%>
      </tr>
    </table>
    <%end%>

    <% if current_user.garden_ids.include?(@garden.id)%>
      <a href="/gardens/<%=@garden.id%>/edit">Edit</a>
      <form method="post" action="/gardens/<%= @garden.id %>/delete">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-link" onclick="if (!confirm('ANY VEGETABLES IN THIS GARDEN WILL BE DELETED!')) { return false }"><span>Delete</span></button>
      </form>
    <%end%>
