<%= @garden.name %><br />
  <%= @garden.planting_system %> <br />

  <h2>Vegetables</h2>
  <ul>
  <% @garden.vegetables.each do |veggie| %>
    <li><a href="/vegetables/<%=veggie.id%>"><%= veggie.name %></a></li>
  <% end%>
  </ul>
  <a href="/gardens/<%=@garden.id%>/edit">Edit</a>
  <br />
  <br />
